input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

.jiMOeR .wrapper {
  border-radius: 4px !important;
}

.jiMOeR .wrapper:hover,
.jiMOeR .wrapper:focus-within {
  box-shadow: none !important;
}

.menu li > *:not(ul):not(.menu-title):not(details):active {
  background-color: transparent !important;
}

.swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
